body {
  margin: 0;
  padding: 0;
}

input[type=text] {
	width: 300px;
	margin: 10px;
	padding: 8px;
	font-size: 16px;
}

.submitButton {
	width: 100px;
	height: 38px;
	margin: 10px;
	font-size: 16px;
}

.tweedrFeed {
	width: auto;
	height: 500px;
	margin: 0 80px 0 80px;
	overflow: scroll;
	border: .5px solid #777777;
}